<nz-layout class="layout">
  <nz-header class="header">
    <h1>Angular 2 Data Table</h1>
  </nz-header>
  <nz-content class="content">
    <div class="content-wrapper">
      <nz-tabset [(nzSelectedIndex)]="selectedIndex">
        <nz-tab>
          <ng-template #nzTabHeading>
            Ant Design
          </ng-template>

          <app-ant-table></app-ant-table>
        </nz-tab>

        <nz-tab>
          <ng-template #nzTabHeading>
            Material Design
          </ng-template>

          <app-material-table></app-material-table>
        </nz-tab>
      </nz-tabset>
    </div>
  </nz-content>
  <nz-footer class="footer">Angular Data Tables by Ahmed Al Ansary 2018</nz-footer>
</nz-layout>
